/* Navigation Bar START*/
nav {
  margin: 0 25%;
} 

#navbarTogglerDemo02 {
  background-color: #393E46;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: normal;
}

img.logo {
  width: 2.5rem;
  float: left;
}
/* Navigation Bar END*/

body {
  background-color: #393E46;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #EAF6F6;
}

a {
  color: #393E46;
  display: inline-block;
  margin: 0 .625rem;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

h1 {
  color: #66BFBF;
  font-family: 'Euphoria Script', cursive;
  font-weight: 700;
  font-size: 9.625rem;
  /* line-height: 1.3; */
  margin: 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  font-weight: bolder;
}

h2.white-header {
  color: lightgray;
  margin: 0 1rem;
  font-size: 1.5rem;
}

h3 {
  color: #393E46;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  color: #EAF6F6;
  border-width: 5px;
  width: 5%;
  margin: 0.5rem auto 0.5rem auto;
  background-color: #393E46;
}

p {
  line-height: 2;
}

.section-1 {
  padding: 6.25rem 0;
  text-align: left;
  margin: 0 25%;
}

img.profile-pic{
  margin-bottom: 3rem;
}

.profile {
  margin: 0 auto 6.25rem auto;
  text-align: center;
}

.section-2 {
  background-color: #393E46;
  padding: 0 25%;
}

/*SKILLS SECTION*/
.skills {
  margin: 6.25rem auto 6.25rem auto;
}

.skill-row {
  margin: 6.25rem auto 6.25rem auto;
  text-align: left;
}

.right-h3 {
  text-align: right;
}

i.devicon-css3-plain {
  font-size: 5.5rem;
  float: right;
  margin-left: 1.875rem;
}

i.devicon-javascript-plain, .devicon-html5-plain{
  font-size: 5.5rem;
  float: left;
  margin-right: 1.875rem;
}

/*PORTFOLIO SECTION*/

h2.portfolio-header {
  margin: 0 auto;
  padding-bottom: 2.25rem;
  width: 100%;
}

div#portfolio {
  margin: 0 auto;
  background-color: #393E46;
  padding: 0 25% 2.25rem 25%;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #EAF6F6;
}

/*CONTACT SECTION*/
.contact-me {
  /* width: 50%; */
  padding: 0 25%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: center;
}

.contact-met-p {
  margin-bottom: 3.125rem;
}

.form-group {
  padding-bottom: 0.5rem;
  box-shadow: 5px 5px 50px lightblue;
  border-radius: .4rem;
}

.bottom-container {
  padding-top: 3.125rem;
  padding-bottom: 0;
  text-align: center;
}

div.form-button {
  padding-top: 1rem;
}
.devicon-linkedin-plain,
.devicon-github-original,
.devicon-chrome-plain {
  font-size: xx-large;
}

.trademark {
  margin: 0;
  padding: 1.25rem 0;
  color: #EAF6F6;
  font-size: 0.75rem
}

.btn {
  background: #406061;
  background-image: -webkit-linear-gradient(top, #406061, #393E46);
  background-image: -moz-linear-gradient(top, #406061, #393E46);
  background-image: -ms-linear-gradient(top, #406061, #393E46);
  background-image: -o-linear-gradient(top, #406061, #393E46);
  background-image: linear-gradient(to bottom, #406061, #393E46);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat, sans-serif;
  color: #EAF6F6;
  font-size: 14px;
  padding: 0.625rem 20px 0.625rem 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #313837);
  background-image: -moz-linear-gradient(top, #30e3cb, #313837);
  background-image: -ms-linear-gradient(top, #30e3cb, #313837);
  background-image: -o-linear-gradient(top, #30e3cb, #313837);
  background-image: linear-gradient(to bottom, #30e3cb, #313837);
  text-decoration: none;
}


/* @media only screen and (max-width: 992px) {

  /* Top section   */

  /* .navbar {
    padding: 15px 35px 0 35px;
    text-align: right;
  } */


  /* img.logo {
    width: 6%;
    float: left;
  }

  button {
    text-align: inherit;
  }

  h1 {
    line-height: 1.2;
    padding: 0 1%;
    font-size: 6rem;
  }

  h2.white-header {
    font-size: 1.2rem;
  }
  .top-container {
    padding-top: 5rem;
  } */

  /* Middle Section */

  /* .profile {
    width: 90%;
    margin: 6.25rem auto 6.25rem auto;
    text-align: center;
  }

  .profile-pic {
    display: block;
    margin: 0 auto 3rem auto;
    width: 25%;
  }

  div#portfolio {
    margin: 0 auto 0 auto;
    background-color: #393E46;
    padding-left: 5%;
    padding-right: 5%;
  } */

  /* Skills */
  /* .skill-row {
    width: 90%;
    margin: 5rem auto 6.25rem auto;
    text-align: left;
  } */

  /* Bottom Section */
  /* .contact-me {
    width: 90%;
    margin: 6.25rem auto 6.25rem auto;
    text-align: center;
  } */
/* } */
