/* Colors 
#00ADB5
#393E46
#EEEEEE
#EAF6F6; 
#222831
*/

body {
  background-color: #EAF6F6;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #393E46;
}

a {
  color: #11999E;
  display: inline-block;
  margin: 0.625rem 1.25rem;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

h1 {
  color: #66BFBF;
  font-family: 'Euphoria Script', cursive;
  font-weight: 700;
  font-size: 5.625rem;
  line-height: 2;
  margin: 3.125rem auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  font-weight: bolder;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  color: brown;
  border-style: dotted none none;
  border-top-width: 1.4ex;
  border-width: 0.3125rem;
  width: 4%;
  margin: 0.5rem auto 0.5rem auto;
}

p {
  line-height: 2;
}

.colored-section {
  background-color: #393E46;
  color: rgba(255, 255, 255, .55);
}

/* Navigation Bar*/

.navbar {
  padding-right: 0;
  padding-left: 20px;
}

#navbarTogglerDemo02 {
  background-color: #393E46;
}

.navbar-toggler {
  margin-right: 19px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: normal;
}

img.logo {
  width: 3.2rem;
  float: left;
}

.top-container {
  background-color: #393E46;
  position: relative;
  padding-top: 6.25rem;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: relative;
  left: 26.25rem;
  top: auto;
}

.bottom-cloud {
  /* position: absolute;
  left: auto;
  bottom: 300px; */
  position: relative;
  right: 31.25rem;
  top: 18.75rem;
}

.html {
  width: 7.8125rem;
  float: left;
  margin-right: 1.875rem;
}

.css {
  width: 7.8125rem;
  float: right;
  margin-left: 1.875rem;
}

.js {
  width: 7.8125rem;
  float: left;
  margin-right: 1.875rem;
}

.skill-row {
  width: 50%;
  margin: 5rem auto 6.25rem auto;
  text-align: left;
}

.right-h3 {
  text-align: right;
}

.profile {
  width: 30%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: center;
}

.skills {
  margin: 6.25rem auto 6.25rem auto;
}

/*PORTFOLIO SECTION*/

h2.portfolio-header {
padding: 50px 20px;
}

div#portfolio {
  margin: 0 auto 0 auto;
  background-color: #393E46;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 100px;
}

.contact-me {
  width: 30%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: center;
}

.contact-met-p {
  margin-bottom: 3.125rem;
}

.btn {
  background: #406061;
  background-image: -webkit-linear-gradient(top, #406061, #11999e);
  background-image: -moz-linear-gradient(top, #406061, #11999e);
  background-image: -ms-linear-gradient(top, #406061, #11999e);
  background-image: -o-linear-gradient(top, #406061, #11999e);
  background-image: linear-gradient(to bottom, #406061, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Georgia;
  color: #EAF6F6;
  font-size: 20px;
  padding: 0.625rem 20px 0.625rem 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #313837);
  background-image: -moz-linear-gradient(top, #30e3cb, #313837);
  background-image: -ms-linear-gradient(top, #30e3cb, #313837);
  background-image: -o-linear-gradient(top, #30e3cb, #313837);
  background-image: linear-gradient(to bottom, #30e3cb, #313837);
  text-decoration: none;
}

.bottom-container {
  background-color: #393E46;
  padding-top: 3.125rem;
  padding-bottom: 0;
  text-align: center;
}

.trademark {
  margin: 0;
  padding: 1.25rem 0;
  color: #EAF6F6;
  font-size: 0.75rem
}

svg.reverse {
  transform: rotate(180deg);
}

@media only screen and (max-width: 990px) {

  /* Top section   */
  .navbar {
    text-align: right;
  }

  img.logo {
    width: 7%;
    float: left;
  }

  button {
    text-align: inherit;
  }

  h1 {
    line-height: 1.6;
    padding: 0 1%;
  }

  .top-container {
    padding-top: 5rem;
  }

  .top-cloud {
    position: absolute;
    left: 70%;
    width: 15%;
  }

  .bottom-cloud {
    position: absolute;
    right: 84%;
    width: 15%;
  }

  .mountain {
    width: 100%;
    position: relative;
  }

  /* Middle Section */

  .profile {
    width: 90%;
    margin: 6.25rem auto 6.25rem auto;
    text-align: center;
  }

  .profile-pic {
    display: block;
    margin: 0 auto 3rem auto;
    width: 35%;
  }

  /* Skills */
  .skill-row {
    width: 90%;
    margin: 5rem auto 6.25rem auto;
    text-align: left;
  }

  /*Profile Section*/
  div#portfolio {
    margin: 0 auto 0 auto;
    background-color: #393E46;
    padding-left: 5%;
    padding-right: 5%;
  }
  /* Bottom Section */
  .contact-me {
    width: 90%;
    margin: 6.25rem auto 6.25rem auto;
    text-align: center;
  }
}