/* Colors 
#00ADB5
#393E46
#EEEEEE
#EAF6F6; 
#222831
*/

body {
  background-color: #EAF6F6;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #393E46;
}

a {
  color: #11999E;
  display: inline-block;
  margin: 0.625rem 1.25rem;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

h1 {
  color: #66BFBF;
  font-family: 'Euphoria Script', cursive;
  font-weight: 700;
  font-size: 9.625rem;
  line-height: 1.3;
  margin: 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  font-weight: bolder;
}

h2.white-header, a {
  color: #bec0c2;
  margin: 0 1rem;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  color: #393E46;
  border-width: 5px;
  width: 5%;
  margin: 0.5rem auto 0.5rem auto;
  background-color: #EAF6F6;
}

p {
  line-height: 2;
}

.colored-section {
  background-color: #393E46;
  color: rgba(255, 255, 255, .55);
}

/* Navigation Bar*/

nav {
  margin: 0 25%;
}

#navbarTogglerDemo02 {
  background-color: #393E46;
}

.navbar-toggler {
  margin-right: 19x;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: normal;
}

img.logo {
  width: 3.2rem;
  float: left;
}

img.mountain {
  display: none;
  visibility: hidden;
}

.top-container {
  background-color: #393E46;
  position: relative;
  padding-top: 3.25rem;
  padding-bottom: 6.25rem;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: relative;
  left: 26.25rem;
  top: auto;
}

.bottom-cloud {
  /* position: absolute;
  left: auto;
  bottom: 300px; */
  position: relative;
  right: 31.25rem;
  top: 18.75rem;
}

.html {
  width: 7.8125rem;
  float: left;
  margin-right: 1.875rem;
}

i.devicon-css3-plain {
  font-size: 5.5rem;
  float: right;
  margin-left: 1.875rem;
}

i.devicon-javascript-plain, .devicon-html5-plain{
  font-size: 5.5rem;
  float: left;
  margin-right: 1.875rem;
}

.skill-row {
  width: 50%;
  margin: 5rem auto 6.25rem auto;
  text-align: left;
}

.right-h3 {
  text-align: right;
}

.profile {
  width: 30%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: center;
}

img.profile-pic{
  margin-bottom: 3rem;
}

.skills {
  margin: 6.25rem auto 6.25rem auto;
}

/*PORTFOLIO SECTION*/

h2.portfolio-header {
  margin: 0 auto;
  padding-bottom: 2.25rem;
  width: 100%;
}

div#portfolio {
  margin: 0 auto;
  background-color: #393E46;
  padding: 0 25% 2.25rem 25%;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
}

svg.rotated {
  transform: rotate(180deg)
}

/*CONTACT SECTION*/
.contact-me {
  width: 50%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: center;
}

.contact-met-p {
  margin-bottom: 3.125rem;
}

.form-group {
  padding-bottom: 0.5rem;
  box-shadow: 5px 5px 50px lightblue;
  border-radius: .4rem;
}
.btn {
    background: #406061;
    background-image: -webkit-linear-gradient(top, #406061, #393E46);
    background-image: -moz-linear-gradient(top, #406061, #393E46);
    background-image: -ms-linear-gradient(top, #406061, #393E46);
    background-image: -o-linear-gradient(top, #406061, #393E46);
    background-image: linear-gradient(to bottom, #406061, #393E46);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Montserrat, sans-serif;
    color: #EAF6F6;
    font-size: 14px;
    padding: 0.625rem 20px;
    text-decoration: none;
  
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #313837);
    background-image: -moz-linear-gradient(top, #30e3cb, #313837);
    background-image: -ms-linear-gradient(top, #30e3cb, #313837);
    background-image: -o-linear-gradient(top, #30e3cb, #313837);
    background-image: linear-gradient(to bottom, #30e3cb, #313837);
    text-decoration: none;
    font-weight: bold;
  }

.bottom-container {
  background-color: #393E46;
  padding-top: 3.125rem;
  padding-bottom: 0;
  text-align: center;
}

div.form-button {
  padding-top: 1rem;
}
.devicon-linkedin-plain,
.devicon-github-original,
.devicon-chrome-plain {
  font-size: xx-large;
}

.trademark {
  margin: 0;
  padding: 1.25rem 0;
  color: #EAF6F6;
  font-size: 0.75rem
}

svg.reverse {
  transform: rotate(180deg);
}

@media only screen and (max-width: 992px) {

  /* Top section   */

  .navbar {
    margin: auto 5%;
    text-align: right;
  }


  img.logo {
    width: 6%;
    float: left;
  
  }

  button {
    text-align: inherit;
  }

  h1 {
    line-height: 1.2;
    padding: 0 1%;
    font-size: 6rem;
  }

  h2.white-header {
    font-size: 1.2rem;
  }
  .top-container {
    padding-top: 5rem;
  }

  .top-cloud {
    position: absolute;
    left: 77%;
    width: 10%;
    top: 7%;
  }

  .bottom-cloud {
    position: absolute;
    top: 85%;
    right: 80%;
    width: 10%;
  }

  /* .mountain {
    width: 100%;
    position: relative;
  } */

  /* Middle Section */

  .profile {
    width: 90%;
    margin: 6.25rem auto 6.25rem auto;
    text-align: center;
  }

  .profile-pic {
    display: block;
    margin: 0 auto 3rem auto;
    width: 25%;
  }

  div#portfolio {
    margin: 0 auto 0 auto;
    background-color: #393E46;
    padding-left: 5%;
    padding-right: 5%;
  }

  /* Skills */
  .skill-row {
    width: 90%;
    margin: 5rem auto 6.25rem auto;
    text-align: left;
  }

  /* Bottom Section */
  .contact-me {
    width: 90%;
    margin: 6.25rem auto 6.25rem auto;
    text-align: center;
  }
}